<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.or"
>
<head>
  <meta charset="UTF-8">
  <title>Store Management System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Store Management System</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-curent="page" th:href="@{/orders/new}">New Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-curent="page" th:href="@{/orders}">Orders</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Order Details</h2>
        </div>
        <div class="card-body">
          <p>Customer Name: <strong th:text="${order.customerName}"></strong></p>
          <p>Total Amount: <strong th:text="${order.totalAmount}"></strong></p>
          <p>Date Time: <strong th:text="${order.creationDate}"></strong></p>
          <p>Address: <strong th:text="${order.address}"></strong></p>
          <p>Order Status: <strong th:text="${order.orderStatus}"></strong></p>
          <p>Notes: <strong th:text="${order.notes}"></strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>